:root {
    --pink-dark: #F28585;
    --pink-light: #F2C6C2;
    --beige: #F2E8DF;
    --dark-yellow: #F2B263;
    --ancient-green: #86A69D;
  }

body {
    padding: 0px;
    margin: 0px;
}

main {
    
}

.button-primary {
    border: none;
    border-radius: 4px;
    padding: 10px;
    background-color: #32078e;
    font-size: 18px;
    color: white;
}